<!-- Charts div start -->
<table width="80%">
  <tr>
    <td width="40%"><div id="fruits_bar_chart" style="width: 560px; height: 300px;"></div></td>
    <td width="40%"><div id="fruits_pie_chart" style="width: 560px; height: 300px;"></div></td>
  </tr>
  <tr>
    <td width="50%"><div id="fruits_line_chart" style="width: 560px; height: 300px;"></div></td>
    <td width="50%"><div id="fruits_area_chart" style="width: 560px; height: 300px;"></div></td>
  </tr>
  <tr>
    <td width="50%"><div id="fruits_column_chart" style="width: 560px; height: 300px;"></div></td>
    <td width="50"><div id="fruits_polar_chart" style="width: 560px; height: 300px;"></div></td>
  </tr>
  <tr>
    <td width="50%"><div id="fruits_gauges_chart" style="width: 560px; height: 300px;"></div></td>
    <td width="50"><div id="fruits_clock_chart" style="width: 560px; height: 300px;"></div></td>
  </tr>
  <tr>
    <td width="50%"><div id="fruits_range_chart" style="width: 560px; height: 300px;"></div></td>
    <td width="50"><div id="fruits_funnel_chart" style="width: 560px; height: 300px;"></div></td>
  </tr>
   
</table>
<!-- Charts div end -->

<table class="pretty">
  <!-- Orders table code here -->
</table>